p,
h1,
body{
  padding: 0;
  margin: 0;
}
* {
  margin: 0;
  padding: 0;
}
/*
Resets defaults
*/
h1{
  padding: 20px;
}
div {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  min-width: 300px;
  padding: 5px;
}
/* 
responsible text for paragraphs

*/
@-ms-viewport{
  width: device-width;
}
/*
responsive viewport
*/
.nav{
margin: 50px;
}
span{
  height: 25px;
  float: left;
  margin-right: 5px;
  border-right: 1px solid #aaa;
  padding: 0 30px;
}
.body {
  margin: 40px;
}
.wrapper {
		display: grid;
    grid-gap: 10px;
		grid-template-columns: [col] 100px [col] 100px [col] 100px [col] 200px  ;
		grid-template-rows: [row] auto [row] auto [row] ;
		background-color: #fff;
		color: #444;
	}

	.header-img {
		background-color: #444;
		color: #fff;
		border-radius: 5px;
		padding: 20px;
		font-size: 150%;

  }
.One{
  grid-column: col / span 2;
  grid-row: row ;
}
.two{
  grid-column: 2;
  grid-row: 2;
}
/*
box layout from https://codepen.io/rachelandrew/pen/oXKgeQ 
Used to add multiple boxes or pictures for layout



*/